In [1]:
import tabula
#the pd is the standard shorthand for pandas
import pandas as pd

In [2]:
# #declare the path of your file
# file_path_lst = []

# file_path_lst.append("file:///E:/GST_Revenue/GST%20website%20pdfs/GST_Revenue_May2022.pdf")

# #Convert your file
# for i in file_path_lst:
#     df = tabula.read_pdf(i,  pages='all')
#     correct_columns = df[1].columns.to_list()
#     filename = correct_columns[len(df)-2]
#     for j in range(2, len(df)):
#         typo_record = df[j].columns.to_list()
#         df[j].loc[len(df[j].index)] = typo_record
#         df[j].rename({typo_record[0]: correct_columns[0],
#                       typo_record[1]: correct_columns[1],
#                       typo_record[2]: correct_columns[2],
#                       typo_record[3]: correct_columns[3],}, axis=1, inplace=True)
#         frames = [df[1], df[2], df[3]]  
#         result = pd.concat(frames)
#         result.reset_index(drop=True, inplace=True)
#         result.drop(['Growth'], axis = 1, inplace=True)
#         temp = result.iloc[-1].copy()
#         result.iloc[-1] = result.iloc[-2].copy()
#         result.iloc[-2] = temp
#         result.to_csv(filename + '.csv', index = False, encoding='utf-8')

In [310]:
df = tabula.read_pdf('file:///E:/GST_Revenue/GST%20website%20pdfs/GST_Revenue_July2021.pdf',  pages='all')

In [311]:
df

[                 GST Revenue collection for July 2021
 0   ₹ 1,16,393 crore gross GST revenue collected i...
 1                                                 NaN
 2   The gross GST revenue collected in the month o...
 3   which CGST is ₹ 22,197 crore, SGST is ₹ 28,541...
 4   27,900crore collectedonimportofgoods)andCessis...
 5   crore collected on import of goods).The above ...
 6   GSTR-3B returns filed between 1st July 2021 to...
 7         collected from imports for the same period.
 8   The GST collection for the returns filed betwe...
 9   had also been included in the GST collectionin...
 10  taxpayers were given various relief measures i...
 11  delayed return filing for 15 days for the retu...
 12  aggregate turnover uptoRs. 5 crore in the wake...
 13  The government has settled ₹ 28,087 crore to C...
 14  IGST as regular settlement. The total revenue ...
 15  the month of July’ 2021 is ₹ 50284 crore for C...
 16  The revenues for the month of July 2021 are 33...
 17  same month last year. During the month, revenu...
 18  revenues from domestic transaction (including ...
 19  revenues from these sources during the same mo...
 20  GST collection, after posting above Rs. 1 lakh...
 21  dropped below Rs. 1 lakh crore in June 2021 as...
 22  predominantly related to the month of May 2021...
 23  were under either complete or partial lock dow...
 24  restrictions, GST collection for July2021 has ...
 25  that the economy is recovering at a fastpace.T...
 26                             the coming months too.
 27  The table shows the state-wise figures of GST ...
 28                     2021 as compared to July 2020.
 29  State-wise growth of GST Revenues during July2...,
    Unnamed: 0        Unnamed: 1  Unnamed: 2  Unnamed: 3         Unnamed: 4  \
 0         NaN              . No         NaN         NaN              State
 1         NaN               NaN         NaN         NaN                NaN
 2         NaN               NaN         NaN         NaN                NaN
 3         NaN                 1         NaN         NaN  Jammu and Kashmir
 4         NaN               NaN         NaN         NaN                NaN
 5         2.0  Himachal Pradesh       605.0       667.0                10%
 6         NaN               NaN         NaN         NaN                NaN
 7         NaN                 3         NaN         NaN             Punjab
 8         NaN               NaN         NaN         NaN                NaN

    Unnamed: 5  Unnamed: 6 Unnamed: 7  Unnamed: 8  Unnamed: 9 Unnamed: 10  \
 0         NaN         NaN     Jul-20         NaN         NaN       ul-21
 1         NaN         NaN        NaN         NaN         NaN         NaN
 2         NaN         NaN        NaN         NaN         NaN         NaN
 3         NaN         NaN         29         NaN         NaN         432
 4         NaN         NaN        NaN         NaN         NaN         NaN
 5         NaN         NaN        NaN         NaN         NaN         NaN
 6         NaN         NaN        NaN         NaN         NaN         NaN
 7         NaN         NaN       1,18         NaN         NaN       1,533
 8         NaN         NaN        NaN         NaN         NaN         NaN

    Unnamed: 11  Unnamed: 12 Unnamed: 13  Unnamed: 14
 0          NaN          NaN       rowth          NaN
 1          NaN          NaN         NaN          NaN
 2          NaN          NaN         NaN          NaN
 3          NaN          NaN          45          NaN
 4          NaN          NaN         NaN          NaN
 5          NaN          NaN         NaN          NaN
 6          NaN          NaN         NaN          NaN
 7          NaN          NaN          29          NaN
 8          NaN          NaN         NaN          NaN  ,
      4         Chandigarh    137    169  23%
 0    5        Uttarakhand    988  1,106  12%
 1    6            Haryana  3,483  5,330  53%
 2    7              Delhi  2,629  3,815  45%
 3    8          Rajasthan  2,797  3,129  12%
 4    9      Uttar Pradesh  5,099  6,011  18%
 5   10              Bihar  1,061  1,281  21%
 6   11             Sikkim    186    197   6%
 7   12  Arunachal Pradesh     33     55  69%
 8   13           Nagaland     25     28  11%
 9   14            Manipur     25     37  48%
 10  15            Mizoram     16     21  31%
 11  16            Tripura     48     65  36%
 12  17          Meghalaya    120    121   1%
 13  18              Assam    723    882  22%
 14  19        West Bengal  3,010  3,463  15%
 15  20          Jharkhand  1,340  2,056  54%
 16  21             Odisha  2,348  3,615  54%
 17  22        Chattisgarh  1,832  2,432  33%,
       23          Madhya Pradesh   2,289   2,657   16%
 0   24.0                 Gujarat   5,621   7,629   36%
 1   25.0           Daman and Diu      77       0  -99%
 2   26.0  Dadra and Nagar Haveli     130     227   74%
 3   27.0             Maharashtra  12,508  18,899   51%
 4   29.0               Karnataka   6,014   6,737   12%
 5   30.0                     Goa     257     303   18%
 6   31.0             Lakshadweep       2       1  -42%
 7   32.0                  Kerala   1,318   1,675   27%
 8   33.0              Tamil Nadu   4,635   6,302   36%
 9   34.0              Puducherry     136     129   -6%
 10  35.0     Andaman and Nicobar      18      19    6%
 11   NaN                 Islands     NaN     NaN   NaN
 12  36.0               Telangana   2,876   3,610   26%
 13  37.0          Andhra Pradesh   2,138   2,730   28%
 14  38.0                  Ladakh       7      13   95%
 15  39.0         Other Territory      97     141   45%
 16  40.0     Center Jurisdiction     179     161  -10%
 17   NaN             Grand Total  66,291  87,678   32%]

In [312]:
len(df)

4

In [316]:
correct_columns = df[0].columns.to_list()
#correct_columns.remove('Unnamed: 0')
#correct_columns[0] = 'State'
correct_columns = ['State', 'Jul-20', 'Jul-21', 'Growth']
correct_columns

['State', 'Jul-20', 'Jul-21', 'Growth']

In [317]:
filename = correct_columns[len(df)-2]
#filename = correct_columns[len(df)-1]
#filename = correct_columns[len(df)]
filename

'Jul-21'

In [322]:
data1 = [['Jammu and Kashmir', '298', '432'], ['Himachal Pradesh', '605', '667'], ['Punjab', '1,188', '1,533']]
  
# Create the pandas DataFrame
cols = pd.DataFrame(data1, columns=['State', 'Jul-20', 'Jul-21'])
cols['Growth'] = 'nan'
# print dataframe.
df[0] = cols
df[0]

               State Jul-20 Jul-21 Growth
0  Jammu and Kashmir    298    432    nan
1   Himachal Pradesh    605    667    nan
2             Punjab  1,188  1,533    nan

In [314]:
df[0]

                 GST Revenue collection for July 2021
0   ₹ 1,16,393 crore gross GST revenue collected i...
1                                                 NaN
2   The gross GST revenue collected in the month o...
3   which CGST is ₹ 22,197 crore, SGST is ₹ 28,541...
4   27,900crore collectedonimportofgoods)andCessis...
5   crore collected on import of goods).The above ...
6   GSTR-3B returns filed between 1st July 2021 to...
7         collected from imports for the same period.
8   The GST collection for the returns filed betwe...
9   had also been included in the GST collectionin...
10  taxpayers were given various relief measures i...
11  delayed return filing for 15 days for the retu...
12  aggregate turnover uptoRs. 5 crore in the wake...
13  The government has settled ₹ 28,087 crore to C...
14  IGST as regular settlement. The total revenue ...
15  the month of July’ 2021 is ₹ 50284 crore for C...
16  The revenues for the month of July 2021 are 33...
17  same month last year. During the month, revenu...
18  revenues from domestic transaction (including ...
19  revenues from these sources during the same mo...
20  GST collection, after posting above Rs. 1 lakh...
21  dropped below Rs. 1 lakh crore in June 2021 as...
22  predominantly related to the month of May 2021...
23  were under either complete or partial lock dow...
24  restrictions, GST collection for July2021 has ...
25  that the economy is recovering at a fastpace.T...
26                             the coming months too.
27  The table shows the state-wise figures of GST ...
28                     2021 as compared to July 2020.
29  State-wise growth of GST Revenues during July2...

In [230]:
df[0].drop(['Unnamed: 0'], axis = 1, inplace=True)
df[0]

               State Mar-21 Mar-22 Growth
0  Jammu and Kashmir    352    368     5%
1   Himachal Pradesh    687    684     0%
2             Punjab  1,362  1,572    15%
3         Chandigarh    165    184    11%
4        Uttarakhand  1,304  1,255    -4%
5            Haryana  5,710  6,654    17%

In [272]:
typo_record = df[0].columns.to_list()
typo_record

['Unnamed: 0', 'Sep-20', 'Sep-21', 'Growth']

In [273]:
df[0].rename({typo_record[0]: correct_columns[0],
          typo_record[1]: correct_columns[1],
          typo_record[2]: correct_columns[2],
          typo_record[3]: correct_columns[3],}, axis=1, inplace=True)

In [274]:
df[0]

               State Sep-20 Sep-21 Growth
0  Jammu and Kashmir    368    377     3%
1   Himachal Pradesh    653    680     4%
2             Punjab  1,194  1,402    17%

In [323]:
df[1]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,. No,NaN,NaN,State,NaN,NaN,Jul-20,NaN,NaN,ul-21,NaN,NaN,rowth,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,NaN,NaN,Jammu and Kashmir,NaN,NaN,29,NaN,NaN,432,NaN,NaN,45,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2.0,Himachal Pradesh,605.0,667.0,10%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,3,NaN,NaN,Punjab,NaN,NaN,"1,18",NaN,NaN,"1,533",NaN,NaN,29,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [233]:
df[1].drop(['7'], axis = 1, inplace=True)
df[1]

                Delhi  3,926  4,112    5%
0           Rajasthan  3,352  3,587    7%
1       Uttar Pradesh  6,265  6,620    6%
2               Bihar  1,196  1,348   13%
3              Sikkim    214    230    8%
4   Arunachal Pradesh     92    105   14%
5            Nagaland     45     43   -6%
6             Manipur     50     60   18%
7             Mizoram     35     37    5%
8             Tripura     88     82   -7%
9           Meghalaya    152    181   19%
10              Assam  1,005  1,115   11%
11        West Bengal  4,387  4,472    2%
12          Jharkhand  2,416  2,550    6%
13             Odisha  3,285  4,125   26%
14       Chhattisgarh  2,544  2,720    7%
15     Madhya Pradesh  2,728  2,935    8%
16            Gujarat  8,197  9,158   12%
17      Daman and Diu      3      0  -92%

In [295]:
typo_record = df[1].columns.to_list()
typo_record

['Mizoram', '32', '32.1', '1%']

In [296]:
df[1].loc[len(df[1].index)] = typo_record
df[1].rename({typo_record[0]: correct_columns[0],
          typo_record[1]: correct_columns[1],
          typo_record[2]: correct_columns[2],
          typo_record[3]: correct_columns[3],}, axis=1, inplace=True)

In [297]:
df[1]

                          State  Oct-20  Oct-21 Growth
0                       Tripura      57      67    17%
1                     Meghalaya     117     140    19%
2                         Assam   1,017   1,425    40%
3                   West Bengal   3,738   4,259    14%
4                     Jharkhand   1,771   2,370    34%
5                        Odisha   2,419   3,593    49%
6                  Chhattisgarh   1,974   2,392    21%
7                Madhya Pradesh   2,403   2,666    11%
8                       Gujarat   6,787   8,497    25%
9                 Daman and Diu       7       0   -99%
10       Dadra and Nagar Haveli     283     269    -5%
11                  Maharashtra  15,799  19,355    23%
12                    Karnataka   6,998   8,259    18%
13                          Goa     310     317     3%
14                  Lakshadweep       1       2    86%
15                       Kerala   1,665   1,932    16%
16                   Tamil Nadu   6,901   7,642    11%
17                   Puducherry     161     152    -6%
18  Andaman and Nicobar Islands      19      26    40%
19                    Telangana   3,383   3,854    14%
20               Andhra Pradesh   2,480   2,879    16%
21                       Ladakh      15      19    32%
22                      Mizoram      32    32.1     1%

In [324]:
df[2]

     4         Chandigarh    137    169  23%
0    5        Uttarakhand    988  1,106  12%
1    6            Haryana  3,483  5,330  53%
2    7              Delhi  2,629  3,815  45%
3    8          Rajasthan  2,797  3,129  12%
4    9      Uttar Pradesh  5,099  6,011  18%
5   10              Bihar  1,061  1,281  21%
6   11             Sikkim    186    197   6%
7   12  Arunachal Pradesh     33     55  69%
8   13           Nagaland     25     28  11%
9   14            Manipur     25     37  48%
10  15            Mizoram     16     21  31%
11  16            Tripura     48     65  36%
12  17          Meghalaya    120    121   1%
13  18              Assam    723    882  22%
14  19        West Bengal  3,010  3,463  15%
15  20          Jharkhand  1,340  2,056  54%
16  21             Odisha  2,348  3,615  54%
17  22        Chattisgarh  1,832  2,432  33%

In [325]:
df[2].drop(['4'], axis = 1, inplace=True)
df[2]

           Chandigarh    137    169  23%
0         Uttarakhand    988  1,106  12%
1             Haryana  3,483  5,330  53%
2               Delhi  2,629  3,815  45%
3           Rajasthan  2,797  3,129  12%
4       Uttar Pradesh  5,099  6,011  18%
5               Bihar  1,061  1,281  21%
6              Sikkim    186    197   6%
7   Arunachal Pradesh     33     55  69%
8            Nagaland     25     28  11%
9             Manipur     25     37  48%
10            Mizoram     16     21  31%
11            Tripura     48     65  36%
12          Meghalaya    120    121   1%
13              Assam    723    882  22%
14        West Bengal  3,010  3,463  15%
15          Jharkhand  1,340  2,056  54%
16             Odisha  2,348  3,615  54%
17        Chattisgarh  1,832  2,432  33%

In [326]:
typo_record = df[2].columns.to_list()
typo_record

['Chandigarh', '137', '169', '23%']

In [327]:
df[2].loc[len(df[2].index)] = typo_record
df[2].rename({typo_record[0]: correct_columns[0],
          typo_record[1]: correct_columns[1],
          typo_record[2]: correct_columns[2],
          typo_record[3]: correct_columns[3],}, axis=1, inplace=True)

In [328]:
df[2]

                State Jul-20 Jul-21 Growth
0         Uttarakhand    988  1,106    12%
1             Haryana  3,483  5,330    53%
2               Delhi  2,629  3,815    45%
3           Rajasthan  2,797  3,129    12%
4       Uttar Pradesh  5,099  6,011    18%
5               Bihar  1,061  1,281    21%
6              Sikkim    186    197     6%
7   Arunachal Pradesh     33     55    69%
8            Nagaland     25     28    11%
9             Manipur     25     37    48%
10            Mizoram     16     21    31%
11            Tripura     48     65    36%
12          Meghalaya    120    121     1%
13              Assam    723    882    22%
14        West Bengal  3,010  3,463    15%
15          Jharkhand  1,340  2,056    54%
16             Odisha  2,348  3,615    54%
17        Chattisgarh  1,832  2,432    33%
18         Chandigarh    137    169    23%

In [329]:
df[3]

      23          Madhya Pradesh   2,289   2,657   16%
0   24.0                 Gujarat   5,621   7,629   36%
1   25.0           Daman and Diu      77       0  -99%
2   26.0  Dadra and Nagar Haveli     130     227   74%
3   27.0             Maharashtra  12,508  18,899   51%
4   29.0               Karnataka   6,014   6,737   12%
5   30.0                     Goa     257     303   18%
6   31.0             Lakshadweep       2       1  -42%
7   32.0                  Kerala   1,318   1,675   27%
8   33.0              Tamil Nadu   4,635   6,302   36%
9   34.0              Puducherry     136     129   -6%
10  35.0     Andaman and Nicobar      18      19    6%
11   NaN                 Islands     NaN     NaN   NaN
12  36.0               Telangana   2,876   3,610   26%
13  37.0          Andhra Pradesh   2,138   2,730   28%
14  38.0                  Ladakh       7      13   95%
15  39.0         Other Territory      97     141   45%
16  40.0     Center Jurisdiction     179     161  -10%
17   NaN             Grand Total  66,291  87,678   32%

In [330]:
df[3].drop(['23'], axis = 1, inplace=True)
#df[3].drop(index=[0], axis = 0, inplace=True)
#df[3].reset_index(drop=True, inplace=True)
df[3]

            Madhya Pradesh   2,289   2,657   16%
0                  Gujarat   5,621   7,629   36%
1            Daman and Diu      77       0  -99%
2   Dadra and Nagar Haveli     130     227   74%
3              Maharashtra  12,508  18,899   51%
4                Karnataka   6,014   6,737   12%
5                      Goa     257     303   18%
6              Lakshadweep       2       1  -42%
7                   Kerala   1,318   1,675   27%
8               Tamil Nadu   4,635   6,302   36%
9               Puducherry     136     129   -6%
10     Andaman and Nicobar      18      19    6%
11                 Islands     NaN     NaN   NaN
12               Telangana   2,876   3,610   26%
13          Andhra Pradesh   2,138   2,730   28%
14                  Ladakh       7      13   95%
15         Other Territory      97     141   45%
16     Center Jurisdiction     179     161  -10%
17             Grand Total  66,291  87,678   32%

In [331]:
typo_record = df[3].columns.to_list()
typo_record

['Madhya Pradesh', '2,289', '2,657', '16%']

In [332]:
df[3].loc[len(df[3].index)] = typo_record
df[3].rename({typo_record[0]: correct_columns[0],
          typo_record[1]: correct_columns[1],
          typo_record[2]: correct_columns[2],
          typo_record[3]: correct_columns[3],}, axis=1, inplace=True)

In [333]:
df[3]

                     State  Jul-20  Jul-21 Growth
0                  Gujarat   5,621   7,629    36%
1            Daman and Diu      77       0   -99%
2   Dadra and Nagar Haveli     130     227    74%
3              Maharashtra  12,508  18,899    51%
4                Karnataka   6,014   6,737    12%
5                      Goa     257     303    18%
6              Lakshadweep       2       1   -42%
7                   Kerala   1,318   1,675    27%
8               Tamil Nadu   4,635   6,302    36%
9               Puducherry     136     129    -6%
10     Andaman and Nicobar      18      19     6%
11                 Islands     NaN     NaN    NaN
12               Telangana   2,876   3,610    26%
13          Andhra Pradesh   2,138   2,730    28%
14                  Ladakh       7      13    95%
15         Other Territory      97     141    45%
16     Center Jurisdiction     179     161   -10%
17             Grand Total  66,291  87,678    32%
18          Madhya Pradesh   2,289   2,657    16%

In [334]:
#frames = [df[1], df[2], df[3]]  
#frames = [df[0], df[1], df[2]]  
#frames = [df[1], df[2]] 
#frames = [df[0], df[1]]
frames = [df[0], df[2], df[3]]
result = pd.concat(frames)

In [335]:
result.reset_index(drop=True, inplace=True)
result.drop(columns =['Growth'], axis = 1, inplace=True)
result

                     State  Jul-20  Jul-21
0        Jammu and Kashmir     298     432
1         Himachal Pradesh     605     667
2                   Punjab   1,188   1,533
3              Uttarakhand     988   1,106
4                  Haryana   3,483   5,330
5                    Delhi   2,629   3,815
6                Rajasthan   2,797   3,129
7            Uttar Pradesh   5,099   6,011
8                    Bihar   1,061   1,281
9                   Sikkim     186     197
10       Arunachal Pradesh      33      55
11                Nagaland      25      28
12                 Manipur      25      37
13                 Mizoram      16      21
14                 Tripura      48      65
15               Meghalaya     120     121
16                   Assam     723     882
17             West Bengal   3,010   3,463
18               Jharkhand   1,340   2,056
19                  Odisha   2,348   3,615
20             Chattisgarh   1,832   2,432
21              Chandigarh     137     169
22                 Gujarat   5,621   7,629
23           Daman and Diu      77       0
24  Dadra and Nagar Haveli     130     227
25             Maharashtra  12,508  18,899
26               Karnataka   6,014   6,737
27                     Goa     257     303
28             Lakshadweep       2       1
29                  Kerala   1,318   1,675
30              Tamil Nadu   4,635   6,302
31              Puducherry     136     129
32     Andaman and Nicobar      18      19
33                 Islands     NaN     NaN
34               Telangana   2,876   3,610
35          Andhra Pradesh   2,138   2,730
36                  Ladakh       7      13
37         Other Territory      97     141
38     Center Jurisdiction     179     161
39             Grand Total  66,291  87,678
40          Madhya Pradesh   2,289   2,657

In [117]:
corrupted_row = result.iloc[13].values.tolist()
corrupted_row

['Mizoram\r\uf09a\uf099', '24.84', '21.06\r\uf003']

In [118]:
corrupted_row[0] = 'Mizoram'
corrupted_row[2] = '21.06'
result.iloc[13] = corrupted_row

In [119]:
corrupted_row = result.iloc[28].values.tolist()
corrupted_row

['Lakshadweep\r\uf09a\uf099', '2.14', '0.46\r\uf003']

In [120]:
corrupted_row[0] = 'Lakshadweep'
corrupted_row[2] = '0.46'
result.iloc[28] = corrupted_row

In [219]:
result

                     State     Mar-20     Mar-21
0        Jammu and Kashmir     276.17     351.61
1         Himachal Pradesh     595.89     686.88
2                   Punjab   1,180.81   1,361.85
3               Chandigarh     153.26     165.27
4              Uttarakhand   1,194.74   1,303.57
5                  Haryana   4,874.29   5,709.60
6                    Delhi   3,272.99   3,925.97
7                Rajasthan   2,820.44   3,351.79
8            Uttar Pradesh   5,293.72   6,265.01
9                    Bihar   1,055.94   1,195.75
10                  Sikkim     189.33     213.66
11       Arunachal Pradesh      66.71      92.03
12                Nagaland      38.75      45.48
13                 Manipur      35.89      50.36
14                 Mizoram      33.19      34.93
15                 Tripura       67.1       87.9
16               Meghalaya     132.72     151.97
17                   Assam     931.72   1,004.65
18               Jharkhand   2,049.43   2,416.13
19                  Odisha   2,632.88   3,285.29
20            Chhattisgarh   2,093.17   2,544.13
21          Madhya Pradesh   2,407.40   2,728.49
22                 Gujarat   6,820.46   8,197.04
23           Daman and Diu      94.91       3.29
24  Dadra and Nagar Haveli     168.89     288.49
25             Maharashtra  15,002.11  17,038.49
26               Karnataka   7,144.30   7,914.98
27                     Goa     316.47     344.28
28             Lakshadweep       1.34       1.54
29                  Kerala   1,475.25   1,827.94
30              Tamil Nadu   6,177.82   7,579.18
31              Puducherry     149.32     161.04
32     Andaman and Nicobar      38.58      25.66
33                 Islands        NaN        NaN
34               Telangana   3,562.56   4,166.42
35          Andhra Pradesh   2,548.13   2,685.09
36                  Ladakh       0.84      13.67
37             West Bengal   3,582.26   4,386.79
38     Centre Jurisdiction      81.48     141.12
39             Grand Total   78693.75    91869.7
40         Other Territory     132.49     122.39

In [336]:
row = result.iloc[32].values.tolist()
row

['Andaman and Nicobar', '18', '19']

In [337]:
row[0] = 'Andaman and Nicobar Islands'
result.iloc[32] = row
result.drop(index=33, axis = 0, inplace=True)
result.reset_index(drop=True, inplace=True)
result

                          State  Jul-20  Jul-21
0             Jammu and Kashmir     298     432
1              Himachal Pradesh     605     667
2                        Punjab   1,188   1,533
3                   Uttarakhand     988   1,106
4                       Haryana   3,483   5,330
5                         Delhi   2,629   3,815
6                     Rajasthan   2,797   3,129
7                 Uttar Pradesh   5,099   6,011
8                         Bihar   1,061   1,281
9                        Sikkim     186     197
10            Arunachal Pradesh      33      55
11                     Nagaland      25      28
12                      Manipur      25      37
13                      Mizoram      16      21
14                      Tripura      48      65
15                    Meghalaya     120     121
16                        Assam     723     882
17                  West Bengal   3,010   3,463
18                    Jharkhand   1,340   2,056
19                       Odisha   2,348   3,615
20                  Chattisgarh   1,832   2,432
21                   Chandigarh     137     169
22                      Gujarat   5,621   7,629
23                Daman and Diu      77       0
24       Dadra and Nagar Haveli     130     227
25                  Maharashtra  12,508  18,899
26                    Karnataka   6,014   6,737
27                          Goa     257     303
28                  Lakshadweep       2       1
29                       Kerala   1,318   1,675
30                   Tamil Nadu   4,635   6,302
31                   Puducherry     136     129
32  Andaman and Nicobar Islands      18      19
33                    Telangana   2,876   3,610
34               Andhra Pradesh   2,138   2,730
35                       Ladakh       7      13
36              Other Territory      97     141
37          Center Jurisdiction     179     161
38                  Grand Total  66,291  87,678
39               Madhya Pradesh   2,289   2,657

In [307]:
result.loc[37] = ['Other Territory', '91', '137']
result.loc[38] = ['Centre Jurisdiction ', '114', '189']
result.loc[39] = ['Grand Total', '80,848', '96,430']
result.reset_index(drop=True, inplace=True)

In [308]:
result

                          State  Oct-20  Oct-21
0             Jammu and Kashmir     377     648
1              Himachal Pradesh     691     689
2                        Punjab   1,376   1,595
3                    Chandigarh     152     158
4                   Uttarakhand   1,272   1,259
5                       Haryana   5,433   5,606
6                         Delhi   3,211   4,045
7                     Rajasthan   2,966   3,423
8                 Uttar Pradesh   5,471   6,775
9                         Bihar   1,010   1,351
10                       Sikkim     177     257
11            Arunachal Pradesh      98      47
12                     Nagaland      30      38
13                      Manipur      43      64
14                      Tripura      57      67
15                    Meghalaya     117     140
16                        Assam   1,017   1,425
17                  West Bengal   3,738   4,259
18                    Jharkhand   1,771   2,370
19                       Odisha   2,419   3,593
20                 Chhattisgarh   1,974   2,392
21               Madhya Pradesh   2,403   2,666
22                      Gujarat   6,787   8,497
23                Daman and Diu       7       0
24       Dadra and Nagar Haveli     283     269
25                  Maharashtra  15,799  19,355
26                    Karnataka   6,998   8,259
27                          Goa     310     317
28                  Lakshadweep       1       2
29                       Kerala   1,665   1,932
30                   Tamil Nadu   6,901   7,642
31                   Puducherry     161     152
32  Andaman and Nicobar Islands      19      26
33                    Telangana   3,383   3,854
34               Andhra Pradesh   2,480   2,879
35                       Ladakh      15      19
36                      Mizoram      32    32.1
37              Other Territory      91     137
38                  Grand Total  80,848  96,430
39         Centre Jurisdiction      114     189

In [338]:
result.to_csv(filename + '.csv', index = False, encoding='utf-8')