In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/Goods_and_Services_Tax_(India)_Revenue_Statistics')
data

[             Month                             2022-23               \
              Month                         Collections M-O-M Change
 0            April   ₹167,540 crore (US$21 billion)[2]          NaN
 1              May   ₹140,885 crore (US$18 billion)[7]          NaN
 2             June  ₹144,616 crore (US$18 billion)[10]          NaN
 3             July                              148996          NaN
 4           August                                 NaN          NaN
 5        September                                 NaN          NaN
 6          October                                 NaN          NaN
 7         November                                 NaN          NaN
 8         December                                 NaN          NaN
 9          January                                 NaN          NaN
 10        February                                 NaN          NaN
 11           March                                 NaN          NaN
 12  Annual Average                                 NaN          NaN

                                2021-22               \
                            Collections M-O-M Change
 0    ₹139,708 crore (US$17 billion)[3]          NaN
 1     ₹97,821 crore (US$12 billion)[8]          NaN
 2    ₹92,800 crore (US$12 billion)[11]          NaN
 3   ₹116,393 crore (US$15 billion)[12]          NaN
 4   ₹112,020 crore (US$14 billion)[15]          NaN
 5   ₹117,010 crore (US$15 billion)[17]          NaN
 6   ₹130,127 crore (US$16 billion)[19]          NaN
 7   ₹131,526 crore (US$16 billion)[21]          NaN
 8   ₹129,780 crore (US$16 billion)[23]          NaN
 9   ₹140,986 crore (US$18 billion)[27]          NaN
 10  ₹133,026 crore (US$17 billion)[29]          NaN
 11  ₹142,095 crore (US$18 billion)[31]          NaN
 12      ₹123,608 crore (US$15 billion)          NaN

                                2020-21               \
                            Collections M-O-M Change
 0    ₹32,294 crore (US$4.0 billion)[4]          NaN
 1    ₹62,009 crore (US$7.8 billion)[4]          NaN
 2     ₹90,917 crore (US$11 billion)[4]          NaN
 3    ₹87,422 crore (US$11 billion)[13]          NaN
 4    ₹86,449 crore (US$11 billion)[16]          NaN
 5    ₹95,480 crore (US$12 billion)[18]          NaN
 6   ₹105,155 crore (US$13 billion)[20]          NaN
 7   ₹104,963 crore (US$13 billion)[22]          NaN
 8   ₹115,174 crore (US$14 billion)[24]          NaN
 9   ₹119,875 crore (US$15 billion)[28]          NaN
 10  ₹113,143 crore (US$14 billion)[30]          NaN
 11  ₹123,902 crore (US$16 billion)[32]          NaN
 12    ₹94,731.91 crore (US$12 billion)          NaN

                                 2019-20               \
                             Collections M-O-M Change
 0     ₹113,865 crore (US$14 billion)[5]          NaN
 1     ₹100,289 crore (US$13 billion)[5]          NaN
 2      ₹99,938 crore (US$13 billion)[5]          NaN
 3     ₹102,083 crore (US$13 billion)[5]          NaN
 4      ₹98,203 crore (US$12 billion)[5]          NaN
 5      ₹91,917 crore (US$12 billion)[5]          NaN
 6      ₹95,380 crore (US$12 billion)[5]          NaN
 7     ₹103,491 crore (US$13 billion)[5]          NaN
 8   ₹103,184 crore (US$13 billion) [25]          NaN
 9     ₹110,818 crore (US$14 billion)[5]          NaN
 10    ₹105,366 crore (US$13 billion)[5]          NaN
 11     ₹97,597 crore (US$12 billion)[5]          NaN
 12       ₹101,844 crore (US$13 billion)          NaN

                               2018-19               \
                           Collections M-O-M Change
 0   ₹103,459 crore (US$13 billion)[6]          NaN
 1    ₹94,016 crore (US$12 billion)[9]          NaN
 2    ₹95,610 crore (US$12 billion)[9]          NaN
 3    ₹96,483 crore (US$12 billion)[9]          NaN
 4   ₹93,960 crore (US$12 billion) [9]          NaN
 5    ₹94,442 crore (US$12 billion)[9]          NaN
 6   ₹100,710 crore (US$13 billion)[9]          NaN
 7    ₹97,637 crore (US$12 billion)[6]          NaN
 8   ₹94,726 crore (US$12 billion)[26]          NaN
 9   ₹102,503 crore (US$13 billion)[6]          NaN
 10   ₹97,247 crore (US$12 billion)[6]          NaN
 11  ₹106,577 crore (US$13 billion)[6]          NaN
 12      ₹98,114 crore (US$12 billion)          NaN

                                2017-18
                            Collections M-O-M Change
 0                                  NaN          NaN
 1                                  NaN          NaN
 2                                  NaN          NaN
 3   ₹21,572 crore (US$2.7 billion)[14]          NaN
 4    ₹95,633 crore (US$12 billion)[14]          NaN
 5    ₹94,064 crore (US$12 billion)[14]          NaN
 6    ₹93,333 crore (US$12 billion)[14]          NaN
 7    ₹83,780 crore (US$10 billion)[14]          NaN
 8    ₹84,314 crore (US$11 billion)[14]          NaN
 9    ₹89,825 crore (US$11 billion)[14]          NaN
 10   ₹85,962 crore (US$11 billion)[14]          NaN
 11   ₹92,167 crore (US$12 billion)[14]          NaN
 12    ₹82,294 crore (US$10 billion)[a]          NaN  ,
         Month     2021-22                                            2020-21  \
         Month Collections M-O-M Change                           Collections
 0       April         NaN          NaN                                   NaN
 1         May         NaN          NaN                                   NaN
 2        June         NaN          NaN     ₹2,367 crore (US$300 million)[33]
 3        July         NaN          NaN     ₹3,130 crore (US$390 million)[34]
 4      August         NaN          NaN     ₹1,955 crore (US$240 million)[35]
 5   September         NaN          NaN     ₹2,141 crore (US$270 million)[36]
 6     October         NaN          NaN     ₹2,480 crore (US$310 million)[37]
 7    November         NaN          NaN     ₹2,507 crore (US$310 million)[22]
 8    December         NaN          NaN     ₹2,581 crore (US$320 million)[24]
 9     January         NaN          NaN                                   NaN
 10   February         NaN          NaN  ₹2,652.57 crore (US$330 million)[30]
 11      March         NaN          NaN  ₹2,685.09 crore (US$340 million)[32]

                                             2019-20               \
    M-O-M Change                         Collections M-O-M Change
 0           NaN                                 NaN          NaN
 1           NaN                                 NaN          NaN
 2           NaN   ₹2,232 crore (US$280 million)[33]          NaN
 3           NaN  ₹3,138 crore (US$390 million) [34]          NaN
 4           NaN   ₹2,115 crore (US$260 million)[35]          NaN
 5           NaN   ₹1,985 crore (US$250 million)[36]          NaN
 6           NaN   ₹1,975 crore (US$250 million)[37]          NaN
 7           NaN   ₹2,230 crore (US$280 million)[22]          NaN
 8           NaN   ₹2,265 crore (US$280 million)[38]          NaN
 9           NaN   ₹2,356 crore (US$300 million)[39]          NaN
 10          NaN   ₹2,563 crore (US$320 million)[40]          NaN
 11          NaN   ₹2,548 crore (US$320 million)[41]          NaN

                               2018-19
                           Collections M-O-M Change
 0                                 NaN          NaN
 1                                 NaN          NaN
 2                                 NaN          NaN
 3                                 NaN          NaN
 4                                 NaN          NaN
 5                                 NaN          NaN
 6                                 NaN          NaN
 7                                 NaN          NaN
 8   ₹2,049 crore (US$260 million)[38]          NaN
 9   ₹2,159 crore (US$270 million)[39]          NaN
 10  ₹2,088 crore (US$260 million)[40]          NaN
 11  ₹2,589 crore (US$320 million)[41]          NaN  ,
         Month     2021-22                                         2020-21  \
         Month Collections M-O-M Change                        Collections
 0       April         NaN          NaN                                NaN
 1         May         NaN          NaN                                NaN
 2        June         NaN          NaN     ₹49 crore (US$6.1 million)[33]
 3        July         NaN          NaN     ₹33 crore (US$4.1 million)[34]
 4      August         NaN          NaN     ₹35 crore (US$4.4 million)[35]
 5   September         NaN          NaN     ₹35 crore (US$4.4 million)[36]
 6     October         NaN          NaN      ₹98 crore (US$12 million)[37]
 7    November         NaN          NaN     ₹60 crore (US$7.5 million)[22]
 8    December         NaN          NaN     ₹46 crore (US$5.8 million)[24]
 9     January         NaN          NaN                                NaN
 10   February         NaN          NaN  ₹61.36 crore (US$7.7 million)[30]
 11      March         NaN          NaN   ₹92.03 crore (US$12 million)[32]

                                         2019-20               \
    M-O-M Change                     Collections M-O-M Change
 0           NaN                             NaN          NaN
 1           NaN                             NaN          NaN
 2           NaN  ₹48 crore (US$6.0 million)[33]          NaN
 3           NaN  ₹49 crore (US$6.1 million)[34]          NaN
 4           NaN  ₹45 crore (US$5.6 million)[35]          NaN
 5           NaN  ₹44 crore (US$5.5 million)[36]          NaN
 6           NaN  ₹41 crore (US$5.1 million)[37]          NaN
 7           NaN  ₹36 crore (US$4.5 million)[22]          NaN
 8           NaN  ₹58 crore (US$7.3 million)[38]          NaN
 9           NaN  ₹52 crore (US$6.5 million)[39]          NaN
 10          NaN  ₹48 crore (US$6.0 million)[40]          NaN
 11          NaN  ₹67 crore (US$8.4 million)[41]          NaN

                            2018-19
                        Collections M-O-M Change
 0                              NaN          NaN
 1                              NaN          NaN
 2                              NaN          NaN
 3                              NaN          NaN
 4                              NaN          NaN
 5                              NaN          NaN
 6                              NaN          NaN
 7                              NaN          NaN
 8   ₹26 crore (US$3.3 million)[38]          NaN
 9   ₹38 crore (US$4.8 million)[39]          NaN
 10  ₹32 crore (US$4.0 million)[40]          NaN
 11   ₹85 crore (US$11 million)[41]          NaN  ,
         Month     2021-22                                            2020-21  \
         Month Collections M-O-M Change                           Collections
 0       April         NaN          NaN                                   NaN
 1         May         NaN          NaN                                   NaN
 2        June         NaN          NaN       ₹966 crore (US$120 million)[33]
 3        July         NaN          NaN        ₹723 crore (US$91 million)[34]
 4      August         NaN          NaN        ₹709 crore (US$89 million)[35]
 5   September         NaN          NaN       ₹912 crore (US$110 million)[36]
 6     October         NaN          NaN     ₹1,017 crore (US$130 million)[37]
 7    November         NaN          NaN       ₹946 crore (US$120 million)[22]
 8    December         NaN          NaN       ₹984 crore (US$120 million)[24]
 9     January         NaN          NaN                                   NaN
 10   February         NaN          NaN    ₹945.84 crore (US$120 million)[30]
 11      March         NaN          NaN  ₹1,004.65 crore (US$130 million)[32]

                                          2019-20               \
    M-O-M Change                      Collections M-O-M Change
 0           NaN                              NaN          NaN
 1           NaN                              NaN          NaN
 2           NaN  ₹798 crore (US$100 million)[33]          NaN
 3           NaN  ₹795 crore (US$100 million)[34]          NaN
 4           NaN   ₹768 crore (US$96 million)[35]          NaN
 5           NaN  ₹848 crore (US$110 million)[36]          NaN
 6           NaN  ₹888 crore (US$110 million)[37]          NaN
 7           NaN  ₹968 crore (US$120 million)[22]          NaN
 8           NaN  ₹991 crore (US$120 million)[38]          NaN
 9           NaN  ₹820 crore (US$100 million)[39]          NaN
 10          NaN  ₹924 crore (US$120 million)[40]          NaN
 11          NaN  ₹932 crore (US$120 million)[41]          NaN

                             2018-19
                         Collections M-O-M Change
 0                               NaN          NaN
 1                               NaN          NaN
 2                               NaN          NaN
 3                               NaN          NaN
 4                               NaN          NaN
 5                               NaN          NaN
 6                               NaN          NaN
 7                               NaN          NaN
 8    ₹743 crore (US$93 million)[38]          NaN
 9    ₹787 crore (US$99 million)[39]          NaN
 10   ₹736 crore (US$92 million)[40]          NaN
 11  ₹956 crore (US$120 million)[41]          NaN  ,
         Month     2021-22                                            2020-21  \
         Month Collections M-O-M Change                           Collections
 0       April         NaN          NaN                                   NaN
 1         May         NaN          NaN                                   NaN
 2        June         NaN          NaN     ₹1,162 crore (US$150 million)[33]
 3        July         NaN          NaN     ₹1,061 crore (US$130 million)[34]
 4      August         NaN          NaN       ₹967 crore (US$120 million)[35]
 5   September         NaN          NaN       ₹996 crore (US$120 million)[36]
 6     October         NaN          NaN     ₹1,010 crore (US$130 million)[37]
 7    November         NaN          NaN       ₹970 crore (US$120 million)[22]
 8    December         NaN          NaN     ₹1,067 crore (US$130 million)[24]
 9     January         NaN          NaN                                   NaN
 10   February         NaN          NaN  ₹1,127.99 crore (US$140 million)[30]
 11      March         NaN          NaN  ₹1,195.75 crore (US$150 million)[32]

                                            2019-20               \
    M-O-M Change                        Collections M-O-M Change
 0           NaN                                NaN          NaN
 1           NaN                                NaN          NaN
 2           NaN  ₹1,003 crore (US$130 million)[33]          NaN
 3           NaN  ₹1,160 crore (US$150 million)[34]          NaN
 4           NaN    ₹981 crore (US$120 million)[35]          NaN
 5           NaN    ₹986 crore (US$120 million)[36]          NaN
 6           NaN    ₹940 crore (US$120 million)[37]          NaN
 7           NaN  ₹1,107 crore (US$140 million)[22]          NaN
 8           NaN  ₹1,016 crore (US$130 million)[38]          NaN
 9           NaN  ₹1,122 crore (US$140 million)[39]          NaN
 10          NaN  ₹1,121 crore (US$140 million)[40]          NaN
 11          NaN  ₹1,056 crore (US$130 million)[41]          NaN

                               2018-19
                           Collections M-O-M Change
 0                                 NaN          NaN
 1                                 NaN          NaN
 2                                 NaN          NaN
 3                                 NaN          NaN
 4                                 NaN          NaN
 5                                 NaN          NaN
 6                                 NaN          NaN
 7                                 NaN          NaN
 8     ₹909 crore (US$110 million)[38]          NaN
 9   ₹1,039 crore (US$130 million)[39]          NaN
 10    ₹961 crore (US$120 million)[40]          NaN
 11  ₹1,177 crore (US$150 million)[41]          NaN  ,
         Month                        2021-22               \
         Month                    Collections M-O-M Change
 0       April                            NaN          NaN
 1         May                            NaN          NaN
 2        June                            NaN          NaN
 3        July  ₹2,432 crore (US$300 million)          NaN
 4      August  ₹2,391 crore (US$300 million)          NaN
 5   September  ₹2,233 crore (US$280 million)          NaN
 6     October  ₹2,392 crore (US$300 million)          NaN
 7    November  ₹2,454 crore (US$310 million)          NaN
 8    December  ₹2,582 crore (US$320 million)          NaN
 9     January                            NaN          NaN
 10   February  ₹2,783 crore (US$350 million)          NaN
 11      March  ₹2,720 crore (US$340 million)          NaN

                                  2020-21               \
                              Collections M-O-M Change
 0                                    NaN          NaN
 1                                    NaN          NaN
 2      ₹2,549 crore (US$320 million)[33]          NaN
 3      ₹1,832 crore (US$230 million)[34]          NaN
 4      ₹1,994 crore (US$250 million)[35]          NaN
 5      ₹1,841 crore (US$230 million)[36]          NaN
 6      ₹1,974 crore (US$250 million)[37]          NaN
 7      ₹2,181 crore (US$270 million)[22]          NaN
 8      ₹2,349 crore (US$290 million)[24]          NaN
 9                                    NaN          NaN
 10  ₹2,453.10 crore (US$310 million)[30]          NaN
 11  ₹2,544.13 crore (US$320 million)[32]          NaN

                               2019-20               \
                           Collections M-O-M Change
 0                                 NaN          NaN
 1                                 NaN          NaN
 2   ₹2,093 crore (US$260 million)[33]          NaN
 3   ₹2,002 crore (US$250 million)[34]          NaN
 4   ₹1,873 crore (US$230 million)[35]          NaN
 5   ₹1,490 crore (US$190 million)[36]          NaN
 6   ₹1,570 crore (US$200 million)[37]          NaN
 7   ₹2,176 crore (US$270 million)[22]          NaN
 8   ₹2,136 crore (US$270 million)[38]          NaN
 9   ₹2,155 crore (US$270 million)[39]          NaN
 10  ₹2,274 crore (US$280 million)[40]          NaN
 11  ₹2,093 crore (US$260 million)[41]          NaN

                               2018-19
                           Collections M-O-M Change
 0                                 NaN          NaN
 1                                 NaN          NaN
 2                                 NaN          NaN
 3                                 NaN          NaN
 4                                 NaN          NaN
 5                                 NaN          NaN
 6                                 NaN          NaN
 7                                 NaN          NaN
 8   ₹1,852 crore (US$230 million)[38]          NaN
 9   ₹2,064 crore (US$260 million)[39]          NaN
 10  ₹2,068 crore (US$260 million)[40]          NaN
 11  ₹2,143 crore (US$270 million)[41]          NaN  ,
         Month     2021-22                                         2020-21  \
         Month Collections M-O-M Change                        Collections
 0       April         NaN          NaN                                NaN
 1         May         NaN          NaN                                NaN
 2        June         NaN          NaN     ₹324 crore (US$41 million)[33]
 3        July         NaN          NaN     ₹257 crore (US$32 million)[34]
 4      August         NaN          NaN     ₹213 crore (US$27 million)[35]
 5   September         NaN          NaN     ₹240 crore (US$30 million)[36]
 6     October         NaN          NaN     ₹310 crore (US$39 million)[37]
 7    November         NaN          NaN     ₹300 crore (US$38 million)[22]
 8    December         NaN          NaN     ₹342 crore (US$43 million)[24]
 9     January         NaN          NaN                                NaN
 10   February         NaN          NaN  ₹343.80 crore (US$43 million)[30]
 11      March         NaN          NaN  ₹344.28 crore (US$43 million)[32]

                                         2019-20               \
    M-O-M Change                     Collections M-O-M Change

In [3]:
len(data)

43

In [4]:
data_national = data[0].droplevel(level = 0, axis = 1)

In [5]:
data_national.drop('M-O-M Change', axis = 1,inplace = True)

In [6]:
data_national

,Month,Collections,Collections,Collections,Collections,Collections,Collections
0,April,"₹167,540 crore (US$21 billion)[2]","₹139,708 crore (US$17 billion)[3]","₹32,294 crore (US$4.0 billion)[4]","₹113,865 crore (US$14 billion)[5]","₹103,459 crore (US$13 billion)[6]",NaN
1,May,"₹140,885 crore (US$18 billion)[7]","₹97,821 crore (US$12 billion)[8]","₹62,009 crore (US$7.8 billion)[4]","₹100,289 crore (US$13 billion)[5]","₹94,016 crore (US$12 billion)[9]",NaN
2,June,"₹144,616 crore (US$18 billion)[10]","₹92,800 crore (US$12 billion)[11]","₹90,917 crore (US$11 billion)[4]","₹99,938 crore (US$13 billion)[5]","₹95,610 crore (US$12 billion)[9]",NaN
3,July,148996,"₹116,393 crore (US$15 billion)[12]","₹87,422 crore (US$11 billion)[13]","₹102,083 crore (US$13 billion)[5]","₹96,483 crore (US$12 billion)[9]","₹21,572 crore (US$2.7 billion)[14]"
4,August,NaN,"₹112,020 crore (US$14 billion)[15]","₹86,449 crore (US$11 billion)[16]","₹98,203 crore (US$12 billion)[5]","₹93,960 crore (US$12 billion) [9]","₹95,633 crore (US$12 billion)[14]"
5,September,NaN,"₹117,010 crore (US$15 billion)[17]","₹95,480 crore (US$12 billion)[18]","₹91,917 crore (US$12 billion)[5]","₹94,442 crore (US$12 billion)[9]","₹94,064 crore (US$12 billion)[14]"
6,October,NaN,"₹130,127 crore (US$16 billion)[19]","₹105,155 crore (US$13 billion)[20]","₹95,380 crore (US$12 billion)[5]","₹100,710 crore (US$13 billion)[9]","₹93,333 crore (US$12 billion)[14]"
7,November,NaN,"₹131,526 crore (US$16 billion)[21]","₹104,963 crore (US$13 billion)[22]","₹103,491 crore (US$13 billion)[5]","₹97,637 crore (US$12 billion)[6]","₹83,780 crore (US$10 billion)[14]"
8,December,NaN,"₹129,780 crore (US$16 billion)[23]","₹115,174 crore (US$14 billion)[24]","₹103,184 crore (US$13 billion) [25]","₹94,726 crore (US$12 billion)[26]","₹84,314 crore (US$11 billion)[14]"
9,January,NaN,"₹140,986 crore (US$18 billion)[27]","₹119,875 crore (US$15 billion)[28]","₹110,818 crore (US$14 billion)[5]","₹102,503 crore (US$13 billion)[6]","₹89,825 crore (US$11 billion)[14]"
10,February,NaN,"₹133,026 crore (US$17 billion)[29]","₹113,143 crore (US$14 billion)[30]","₹105,366 crore (US$13 billion)[5]","₹97,247 crore (US$12 billion)[6]","₹85,962 crore (US$11 billion)[14]"
11,March,NaN,"₹142,095 crore (US$18 billion)[31]","₹123,902 crore (US$16 billion)[32]","₹97,597 crore (US$12 billion)[5]","₹106,577 crore (US$13 billion)[6]","₹92,167 crore (US$12 billion)[14]"
12,Annual Average,NaN,"₹123,608 crore (US$15 billion)","₹94,731.91 crore (US$12 billion)","₹101,844 crore (US$13 billion)","₹98,114 crore (US$12 billion)","₹82,294 crore (US$10 billion)[a]"

In [7]:
data_national = data_national.apply(lambda x: x.replace({'₹':''},regex=True))
data_national = data_national.astype(str).applymap(lambda x: x.split()[0])

In [8]:
data_national.columns = ['Month','2022','2021','2020','2019','2018','2017']
data_national

        Month     2022     2021       2020     2019     2018    2017
0       April  167,540  139,708     32,294  113,865  103,459     nan
1         May  140,885   97,821     62,009  100,289   94,016     nan
2        June  144,616   92,800     90,917   99,938   95,610     nan
3        July   148996  116,393     87,422  102,083   96,483  21,572
4      August      nan  112,020     86,449   98,203   93,960  95,633
5   September      nan  117,010     95,480   91,917   94,442  94,064
6     October      nan  130,127    105,155   95,380  100,710  93,333
7    November      nan  131,526    104,963  103,491   97,637  83,780
8    December      nan  129,780    115,174  103,184   94,726  84,314
9     January      nan  140,986    119,875  110,818  102,503  89,825
10   February      nan  133,026    113,143  105,366   97,247  85,962
11      March      nan  142,095    123,902   97,597  106,577  92,167
12     Annual      nan  123,608  94,731.91  101,844   98,114  82,294

In [9]:
#data_national.to_csv('National_Revenue.csv')

In [10]:
data[1]

        Month     2021-22                                            2020-21  \
        Month Collections M-O-M Change                           Collections
0       April         NaN          NaN                                   NaN
1         May         NaN          NaN                                   NaN
2        June         NaN          NaN     ₹2,367 crore (US$300 million)[33]
3        July         NaN          NaN     ₹3,130 crore (US$390 million)[34]
4      August         NaN          NaN     ₹1,955 crore (US$240 million)[35]
5   September         NaN          NaN     ₹2,141 crore (US$270 million)[36]
6     October         NaN          NaN     ₹2,480 crore (US$310 million)[37]
7    November         NaN          NaN     ₹2,507 crore (US$310 million)[22]
8    December         NaN          NaN     ₹2,581 crore (US$320 million)[24]
9     January         NaN          NaN                                   NaN
10   February         NaN          NaN  ₹2,652.57 crore (US$330 million)[30]
11      March         NaN          NaN  ₹2,685.09 crore (US$340 million)[32]

                                            2019-20               \
   M-O-M Change                         Collections M-O-M Change
0           NaN                                 NaN          NaN
1           NaN                                 NaN          NaN
2           NaN   ₹2,232 crore (US$280 million)[33]          NaN
3           NaN  ₹3,138 crore (US$390 million) [34]          NaN
4           NaN   ₹2,115 crore (US$260 million)[35]          NaN
5           NaN   ₹1,985 crore (US$250 million)[36]          NaN
6           NaN   ₹1,975 crore (US$250 million)[37]          NaN
7           NaN   ₹2,230 crore (US$280 million)[22]          NaN
8           NaN   ₹2,265 crore (US$280 million)[38]          NaN
9           NaN   ₹2,356 crore (US$300 million)[39]          NaN
10          NaN   ₹2,563 crore (US$320 million)[40]          NaN
11          NaN   ₹2,548 crore (US$320 million)[41]          NaN

                              2018-19
                          Collections M-O-M Change
0                                 NaN          NaN
1                                 NaN          NaN
2                                 NaN          NaN
3                                 NaN          NaN
4                                 NaN          NaN
5                                 NaN          NaN
6                                 NaN          NaN
7                                 NaN          NaN
8   ₹2,049 crore (US$260 million)[38]          NaN
9   ₹2,159 crore (US$270 million)[39]          NaN
10  ₹2,088 crore (US$260 million)[40]          NaN
11  ₹2,589 crore (US$320 million)[41]          NaN

In [11]:
data_andra = data[1].droplevel(level = 0, axis = 1)

In [12]:
data_andra.drop('M-O-M Change', axis = 1,inplace = True)

In [13]:
data_andra

,Month,Collections,Collections,Collections,Collections
0,April,NaN,NaN,NaN,NaN
1,May,NaN,NaN,NaN,NaN
2,June,NaN,"₹2,367 crore (US$300 million)[33]","₹2,232 crore (US$280 million)[33]",NaN
3,July,NaN,"₹3,130 crore (US$390 million)[34]","₹3,138 crore (US$390 million) [34]",NaN
4,August,NaN,"₹1,955 crore (US$240 million)[35]","₹2,115 crore (US$260 million)[35]",NaN
5,September,NaN,"₹2,141 crore (US$270 million)[36]","₹1,985 crore (US$250 million)[36]",NaN
6,October,NaN,"₹2,480 crore (US$310 million)[37]","₹1,975 crore (US$250 million)[37]",NaN
7,November,NaN,"₹2,507 crore (US$310 million)[22]","₹2,230 crore (US$280 million)[22]",NaN
8,December,NaN,"₹2,581 crore (US$320 million)[24]","₹2,265 crore (US$280 million)[38]","₹2,049 crore (US$260 million)[38]"
9,January,NaN,NaN,"₹2,356 crore (US$300 million)[39]","₹2,159 crore (US$270 million)[39]"
10,February,NaN,"₹2,652.57 crore (US$330 million)[30]","₹2,563 crore (US$320 million)[40]","₹2,088 crore (US$260 million)[40]"
11,March,NaN,"₹2,685.09 crore (US$340 million)[32]","₹2,548 crore (US$320 million)[41]","₹2,589 crore (US$320 million)[41]"

In [14]:
data_andra = data_andra.apply(lambda x: x.replace({'₹':''},regex=True))
data_andra = data_andra.astype(str).applymap(lambda x: x.split()[0])

In [15]:
data_andra.columns = ['Month','21','20','19','18']
index_lst = ['Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','Jan','Feb','Mar']
data_andra['Month'] = index_lst
data_andra.set_index('Month', inplace = True)

In [16]:
data_andra

        21        20     19     18
Month
Apr    nan       nan    nan    nan
May    nan       nan    nan    nan
Jun    nan     2,367  2,232    nan
Jul    nan     3,130  3,138    nan
Aug    nan     1,955  2,115    nan
Sep    nan     2,141  1,985    nan
Oct    nan     2,480  1,975    nan
Nov    nan     2,507  2,230    nan
Dec    nan     2,581  2,265  2,049
Jan    nan       nan  2,356  2,159
Feb    nan  2,652.57  2,563  2,088
Mar    nan  2,685.09  2,548  2,589

In [17]:
data_andra = data_andra.stack().to_frame().T
data_andra.columns = ['{}-{}'.format(*c) for c in data_andra.columns]
data_andra.insert(loc=0, column='State', value='Andhra_Pradesh')

In [18]:
data_andra

,State,Apr-21,Apr-20,Apr-19,Apr-18,May-21,May-20,May-19,May-18,Jun-21,Jun-20,Jun-19,Jun-18,Jul-21,Jul-20,Jul-19,Jul-18,Aug-21,Aug-20,Aug-19,Aug-18,Sep-21,Sep-20,Sep-19,Sep-18,Oct-21,Oct-20,Oct-19,Oct-18,Nov-21,Nov-20,Nov-19,Nov-18,Dec-21,Dec-20,Dec-19,Dec-18,Jan-21,Jan-20,Jan-19,Jan-18,Feb-21,Feb-20,Feb-19,Feb-18,Mar-21,Mar-20,Mar-19,Mar-18
0,Andhra_Pradesh,nan,nan,nan,nan,nan,nan,nan,nan,nan,"2,367","2,232",nan,nan,"3,130","3,138",nan,nan,"1,955","2,115",nan,nan,"2,141","1,985",nan,nan,"2,480","1,975",nan,nan,"2,507","2,230",nan,nan,"2,581","2,265","2,049",nan,nan,"2,356","2,159",nan,"2,652.57","2,563","2,088",nan,"2,685.09","2,548","2,589"

In [19]:
data_andra.columns

Index(['State', 'Apr-21', 'Apr-20', 'Apr-19', 'Apr-18', 'May-21', 'May-20',
       'May-19', 'May-18', 'Jun-21', 'Jun-20', 'Jun-19', 'Jun-18', 'Jul-21',
       'Jul-20', 'Jul-19', 'Jul-18', 'Aug-21', 'Aug-20', 'Aug-19', 'Aug-18',
       'Sep-21', 'Sep-20', 'Sep-19', 'Sep-18', 'Oct-21', 'Oct-20', 'Oct-19',
       'Oct-18', 'Nov-21', 'Nov-20', 'Nov-19', 'Nov-18', 'Dec-21', 'Dec-20',
       'Dec-19', 'Dec-18', 'Jan-21', 'Jan-20', 'Jan-19', 'Jan-18', 'Feb-21',
       'Feb-20', 'Feb-19', 'Feb-18', 'Mar-21', 'Mar-20', 'Mar-19', 'Mar-18'],
      dtype='object')

In [20]:
data_andra.iloc[0].values.tolist()

['Andhra_Pradesh',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 '2,367',
 '2,232',
 'nan',
 'nan',
 '3,130',
 '3,138',
 'nan',
 'nan',
 '1,955',
 '2,115',
 'nan',
 'nan',
 '2,141',
 '1,985',
 'nan',
 'nan',
 '2,480',
 '1,975',
 'nan',
 'nan',
 '2,507',
 '2,230',
 'nan',
 'nan',
 '2,581',
 '2,265',
 '2,049',
 'nan',
 'nan',
 '2,356',
 '2,159',
 'nan',
 '2,652.57',
 '2,563',
 '2,088',
 'nan',
 '2,685.09',
 '2,548',
 '2,589']

In [21]:
state_list = ['Andhra_Pradesh','Arunachal_Pradesh','Assam','Bihar','Chhattisgarh','Goa','Gujarat','Haryana','Himachal_Pradesh','Jharkhand','Karnataka','Kerala','Madhya_Pradesh','Maharashtra','Manipur','Meghalaya'
              ,'Mizoram','Nagaland','Odisha','Punjab','Rajasthan','Sikkim','Tamil_Nadu','Telangana','Tripura','Uttar_Pradesh','Uttarakhand','West_Bengal','Andaman_and_Nicobar_Islands','Chandigarh'
              ,'Dadra_and_Nagar_Haveli_and_Daman_and_Diu','Jammu_and_Kashmir','Ladakh','Lakshadweep','National_Capital_Territory_of_Delhi','Puducherry','Other_Territory']

In [22]:
len(state_list)

37

In [23]:
state_list = ['Andhra_Pradesh','Arunachal_Pradesh','Assam','Bihar','Chhattisgarh','Goa','Gujarat','Haryana','Himachal_Pradesh','Jharkhand','Karnataka','Kerala','Madhya_Pradesh','Maharashtra','Manipur','Meghalaya'
              ,'Mizoram','Nagaland','Odisha','Punjab','Rajasthan','Sikkim','Tamil_Nadu','Telangana','Tripura','Uttar_Pradesh','Uttarakhand','West_Bengal','Andaman_and_Nicobar_Islands','Chandigarh'
              ,'Dadra_and_Nagar_Haveli_and_Daman_and_Diu','Jammu_and_Kashmir','Ladakh','Lakshadweep','National_Capital_Territory_of_Delhi','Puducherry','Other_Territory']

df_cols = ['State', 'Apr-21', 'Apr-20', 'Apr-19', 'Apr-18', 'May-21', 'May-20',
       'May-19', 'May-18', 'Jun-21', 'Jun-20', 'Jun-19', 'Jun-18', 'Jul-21',
       'Jul-20', 'Jul-19', 'Jul-18', 'Aug-21', 'Aug-20', 'Aug-19', 'Aug-18',
       'Sep-21', 'Sep-20', 'Sep-19', 'Sep-18', 'Oct-21', 'Oct-20', 'Oct-19',
       'Oct-18', 'Nov-21', 'Nov-20', 'Nov-19', 'Nov-18', 'Dec-21', 'Dec-20',
       'Dec-19', 'Dec-18', 'Jan-21', 'Jan-20', 'Jan-19', 'Jan-18', 'Feb-21',
       'Feb-20', 'Feb-19', 'Feb-18', 'Mar-21', 'Mar-20', 'Mar-19', 'Mar-18']
df = pd.DataFrame(columns = df_cols)

In [24]:
for i,state in zip(range(1,40),state_list):
    cur_data = data[i].droplevel(level = 0, axis = 1)
    cur_data.drop('M-O-M Change', axis = 1,inplace = True)
    cur_data = cur_data.apply(lambda x: x.replace({'₹':''},regex=True))
    cur_data = cur_data.astype(str).applymap(lambda x: x.split()[0])
    cur_data.columns = ['Month','21','20','19','18']
    index_lst = ['Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','Jan','Feb','Mar']
    cur_data['Month'] = index_lst
    cur_data.set_index('Month', inplace = True)
    cur_data = cur_data.stack().to_frame().T
    cur_data.columns = ['{}-{}'.format(*c) for c in cur_data.columns]
    cur_data.insert(loc=0, column='State', value=state)
    row_dict = dict(zip(df_cols, cur_data.iloc[0].values.tolist()))
    df = df.append(row_dict,ignore_index = True)

In [25]:
df

,State,Apr-21,Apr-20,Apr-19,Apr-18,May-21,May-20,May-19,May-18,Jun-21,Jun-20,Jun-19,Jun-18,Jul-21,Jul-20,Jul-19,Jul-18,Aug-21,Aug-20,Aug-19,Aug-18,Sep-21,Sep-20,Sep-19,Sep-18,Oct-21,Oct-20,Oct-19,Oct-18,Nov-21,Nov-20,Nov-19,Nov-18,Dec-21,Dec-20,Dec-19,Dec-18,Jan-21,Jan-20,Jan-19,Jan-18,Feb-21,Feb-20,Feb-19,Feb-18,Mar-21,Mar-20,Mar-19,Mar-18
0,Andhra_Pradesh,nan,nan,nan,nan,nan,nan,nan,nan,nan,"2,367","2,232",nan,nan,"3,130","3,138",nan,nan,"1,955","2,115",nan,nan,"2,141","1,985",nan,nan,"2,480","1,975",nan,nan,"2,507","2,230",nan,nan,"2,581","2,265","2,049",nan,nan,"2,356","2,159",nan,"2,652.57","2,563","2,088",nan,"2,685.09","2,548","2,589"
1,Arunachal_Pradesh,nan,nan,nan,nan,nan,nan,nan,nan,nan,49,48,nan,nan,33,49,nan,nan,35,45,nan,nan,35,44,nan,nan,98,41,nan,nan,60,36,nan,nan,46,58,26,nan,nan,52,38,nan,61.36,48,32,nan,92.03,67,85
2,Assam,nan,nan,nan,nan,nan,nan,nan,nan,nan,966,798,nan,nan,723,795,nan,nan,709,768,nan,nan,912,848,nan,nan,"1,017",888,nan,nan,946,968,nan,nan,984,991,743,nan,nan,820,787,nan,945.84,924,736,nan,"1,004.65",932,956
3,Bihar,nan,nan,nan,nan,nan,nan,nan,nan,nan,"1,162","1,003",nan,nan,"1,061","1,160",nan,nan,967,981,nan,nan,996,986,nan,nan,"1,010",940,nan,nan,970,"1,107",nan,nan,"1,067","1,016",909,nan,nan,"1,122","1,039",nan,"1,127.99","1,121",961,nan,"1,195.75","1,056","1,177"
4,Chhattisgarh,nan,nan,nan,nan,nan,nan,nan,nan,nan,"2,549","2,093",nan,"2,432","1,832","2,002",nan,"2,391","1,994","1,873",nan,"2,233","1,841","1,490",nan,"2,392","1,974","1,570",nan,"2,454","2,181","2,176",nan,"2,582","2,349","2,136","1,852",nan,nan,"2,155","2,064","2,783","2,453.10","2,274","2,068","2,720","2,544.13","2,093","2,143"
5,Goa,nan,nan,nan,nan,nan,nan,nan,nan,nan,324,338,nan,nan,257,361,nan,nan,213,325,nan,nan,240,311,nan,nan,310,311,nan,nan,300,342,nan,nan,342,363,342,nan,nan,437,394,nan,343.80,411,401,nan,344.28,316,389
6,Gujarat,nan,nan,nan,nan,nan,nan,nan,nan,nan,"6,025","6,424",nan,nan,"5,621","6,411",nan,nan,"6,030","6,185",nan,nan,"6,090","5,741",nan,nan,"6,787","5,888",nan,nan,"7,566","6,805",nan,nan,"7,469","6,621","5,619",nan,nan,"7,330","6,185",nan,"8,221.23","7,216","6,507",nan,"8,197.04","6,820","6,521"
7,Haryana,nan,nan,nan,nan,nan,nan,nan,nan,nan,"3,697","4,889",nan,nan,"3,483","4,617",nan,nan,"4,373","4,474",nan,nan,"4,712","4,110",nan,nan,"5,433","4,578",nan,nan,"5,928","5,904",nan,nan,"5,747","5,365","4,646",nan,nan,"5,487","4,815",nan,"5,589.81","5,266","4,873",nan,"5,709.60","4,874","4,561"
8,Himachal_Pradesh,nan,nan,nan,nan,nan,nan,nan,nan,nan,619,697,nan,nan,605,677,nan,nan,597,676,nan,nan,653,609,nan,nan,691,669,nan,nan,758,701,nan,nan,670,699,595,nan,nan,675,647,nan,663.12,621,610,nan,686.88,596,660
9,Jharkhand,nan,nan,nan,nan,nan,nan,nan,nan,nan,"1,643","1,811",nan,nan,"1,340","1,855",nan,nan,"1,498","1,770",nan,nan,"1,656","1,509",nan,nan,"1,771","1,437",nan,nan,"1,907","1,720",nan,nan,"2,150","1,943","1,995",nan,nan,"2,027","1,965",nan,"2,321.03","2,071","2,121",nan,"2,416.13","2,049","2,149"
10,Karnataka,nan,nan,nan,nan,nan,nan,nan,nan,nan,"6,710","6,659",nan,nan,"6,014","7,088",nan,nan,"5,502","6,201",nan,nan,"6,050","6,350",nan,nan,"6,998","6,675",nan,nan,"6,915","6,972",nan,nan,"7,459","6,886","6,209",nan,nan,"7,605","7,329",nan,"7,581.45","7,414","6,453",nan,"7,914.98","7,144","6,983"
11,Kerala,nan,nan,nan,nan,nan,nan,nan,nan,nan,"1,530","1,568",nan,nan,"1,318","1,512",nan,nan,"1,229","1,582",nan,nan,"1,552","1,393",nan,nan,"1,665","1,549",nan,nan,"1,568","1,691",nan,nan,"1,776","1,651","1,416",nan,nan,"1,859","1,594",nan,"1,806.10","1,754","1,416",nan,"1,827.94","1,475","1,635"
12,Madhya_Pradesh,nan,nan,nan,nan,nan,nan,nan,nan,nan,"2,742","2,212",nan,nan,"2,289","2,282",nan,nan,"2,209","2,255",nan,nan,"2,176","2,087",nan,nan,"2,403","2,053",nan,nan,"2,493","2,453",nan,nan,"2,615","2,434","2,094",nan,nan,"2,674","2,414",nan,"2,791.57","2,621","2,291",nan,"2,728.49","2,407","2,624"
13,Maharashtra,nan,nan,nan,nan,nan,nan,nan,nan,nan,"14,987","15,143",nan,nan,"12,508","15,102",nan,nan,"11,602","13,407",nan,nan,"13,546","13,579",nan,nan,"15,799","15,109",nan,nan,"15,001","15,968",nan,nan,"17,699","16,530","13,524",nan,nan,"18,085","15,151",nan,"16,103.50","15,735","14,092",nan,"17,038.49","15,002","15,596"
14,Manipur,nan,nan,nan,nan,nan,nan,nan,nan,nan,29,25,nan,nan,25,34,nan,nan,26,37,nan,nan,34,42,nan,nan,43,43,nan,nan,32,35,nan,nan,41,44,27,nan,nan,35,24,nan,32.34,37,21,nan,50.36,36,46
15,Meghalaya,nan,nan,nan,nan,nan,nan,nan,nan,nan,116,124,nan,nan,120,104,nan,nan,108,117,nan,nan,100,106,nan,nan,117,113,nan,nan,120,117,nan,nan,106,123,108,nan,nan,128,104,nan,146.50,157,129,nan,151.97,133,127
16,Mizoram,nan,nan,nan,nan,nan,nan,nan,nan,nan,24,24,nan,nan,16,19,nan,nan,12,28,nan,nan,17,29,nan,nan,32,18,nan,nan,17,17,nan,nan,25,21,13,nan,nan,24,26,nan,21.06,25,22,nan,34.93,33,50
17,Nagaland,nan,nan,nan,nan,nan,nan,nan,nan,nan,32,20,nan,nan,25,23,nan,nan,31,27,nan,nan,29,21,nan,nan,30,25,nan,nan,30,23,nan,nan,38,31,17,nan,nan,32,17,nan,34.83,25,20,nan,45.48,39,46
18,Odisha,nan,nan,nan,nan,nan,nan,nan,nan,nan,"2,694","2,923",nan,nan,"2,348","2,494",nan,nan,"2,348","2,497",nan,nan,"2,384","2,015",nan,nan,"2,419","1,994",nan,nan,"2,528","2,347",nan,nan,"2,860","2,383","2,347",nan,nan,"2,504","2,338",nan,"3,340.57","2,790.16","2,374",nan,"3,285.29","2,633","2,626"
19,Punjab,nan,nan,nan,nan,nan,nan,nan,nan,nan,"1,323","1,248",nan,nan,"1,188","1,271",nan,nan,"1,139","1,255",nan,nan,"1,194","1,133",nan,nan,"1,376","1,189",nan,nan,"1,396","1,375",nan,nan,"1,353","1,290","1,162",nan,nan,"1,340","1,216",nan,"1,299.37","1,229","1,100",nan,"1,361.85","1,181","1,166"
20,Rajasthan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"2,774","2,683",nan,nan,"2,797","2,699",nan,nan,"2,582","2,550",nan,nan,"2,647","2,253",nan,nan,"2,966","2,425",nan,nan,"3,130","3,071",nan,nan,"3,135","2,713","2,456",nan,nan,"3,030","2,776",nan,"3,223.70","2,932","2,676",nan,"3,351.79","2,820","3,132"
21,Sikkim,nan,nan,nan,nan,nan,nan,nan,nan,nan,346,193,nan,nan,186,201,nan,nan,147,163,nan,nan,106,209,nan,nan,177,186,nan,nan,223,157,nan,nan,225,214,150,nan,nan,194,176,nan,222.35,183,145,nan,213.66,189,160
22,Tamil_Nadu,nan,nan,nan,nan,nan,nan,nan,nan,nan,"4,976","5,881",nan,nan,"4,635","6,084",nan,nan,"5,243","5,973",nan,nan,"6,454","5,616",nan,nan,"6,901","6,109",nan,nan,"7,084","6,449",nan,nan,"6,905","6,422","5,415",nan,nan,"6,703","6,201",nan,"7,008.21","6,427","5,974",nan,"7,579.18","6,178","6,941"
23,Telangana,nan,nan,nan,nan,nan,nan,nan,nan,nan,"3,276","3,166",nan,nan,"2,876","3,163",nan,nan,"2,793","3,059",nan,nan,"2,796","2,854",nan,nan,"3,383","3,230",nan,nan,"3,175","3,349",nan,nan,"3,543","3,420","3,014",nan,nan,"3,787","3,195",nan,"3,636.44","3,667","3,460",nan,"4,166.42","3,563","3,897"
24,Tripura,nan,nan,nan,nan,nan,nan,nan,nan,nan,65,58,nan,nan,48,49,nan,nan,43,58,nan,nan,50,52,nan,nan,57,54,nan,nan,58,51,nan,nan,74,59,48,nan,nan,56,52,nan,63.25,63,46,nan,87.90,67,64
25,Uttar_Pradesh,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,194","5,366",nan,nan,"5,099","5,422",nan,nan,"5,098","4,975",nan,nan,"5,075","5,073",nan,nan,"5,471","5,103",nan,nan,"5,528","5,679",nan,nan,"5,937","5,489","4,957",nan,nan,"5,698","5,485",nan,"5,996.62","5,776","5,112",nan,"6,265.01","5,294","5,548"
26,Uttarakhand,nan,nan,nan,nan,nan,nan,nan,nan,nan,895,"1,232",nan,nan,988,"1,289",nan,nan,"1,006",941,nan,nan,"1,065","1,017",nan,nan,"1,272","1,153",nan,nan,"1,286","1,280",nan,nan,"1,246","1,213","1,055",nan,nan,"1,257","1,146",nan,"1,181.13","1,281","1,237",nan,"1,303.57","1,195","1,451"
27,West_Bengal,nan,nan,nan,nan,nan,nan,nan,nan,nan,"3,128","3,514",nan,nan,"3,010","3,586",nan,nan,"3,053","3,503",nan,nan,"3,393","3,255",nan,nan,"3,738","3,263",nan,nan,"3,747","3,460",nan,nan,"4,114","3,748","3,230",nan,nan,"3,747","3,495",nan,"4,334.98","3,942","3,490",nan,"4,386.79","3,582","3,841"
28,Andaman_and_Nicobar_Islands,nan,nan,nan,nan,nan,nan,nan,nan,nan,54,21,nan,nan,18,22,nan,nan,13,30,nan,nan,19,19,nan,nan,19,32,nan,nan,23,25,nan,nan,22,30,22,nan,nan,30,35,nan,23.26,36,25,nan,25.66,39,28
29,Chandigarh,nan,nan,nan,nan,nan,nan,nan,nan,nan,159,158,nan,nan,137,156,nan,nan,139,160,nan,nan,141,157,nan,nan,152,157,nan,nan,141,165,nan,nan,158,168,143,nan,nan,195,159,nan,148.50,172,147,nan,165.27,153,162
30,Dadra_and_Nagar_Haveli_and_Daman_and_Diu,nan,nan,nan,nan,nan,nan,nan,nan,nan,192,252,nan,nan,207,240,nan,nan,215,262,nan,nan,240,214,nan,nan,290,213,nan,nan,298,246,nan,nan,263,248,206,nan,nan,282,274,nan,237.70,239,231,nan,291.78,264,277
31,Jammu_and_Kashmir,nan,nan,nan,nan,nan,nan,nan,nan,nan,325,322,nan,nan,298,363,nan,nan,326,302,nan,nan,368,282,nan,nan,377,313,nan,nan,360,363,nan,nan,318,409,293,nan,nan,371,331,nan,329.89,316,306,nan,351.61,276,388
32,Ladakh,nan,nan,nan,nan,nan,nan,nan,nan,nan,7,0,nan,nan,7,0,nan,nan,5,0,nan,nan,9,0,nan,nan,15,0,nan,nan,9,-[22],nan,nan,8,0,nan,nan,nan,nan,nan,nan,9.06,0,nan,nan,13.67,0.84,nan
33,Lakshadweep,nan,nan,nan,nan,nan,nan,nan,nan,nan,1,1,nan,nan,2,2,nan,nan,0,1,nan,nan,1,2,nan,nan,1,2,nan,nan,0,2,nan,nan,1,1,4,nan,nan,3,1,nan,0.46,2,3,nan,1.54,1.34,1
34,National_Capital_Territory_of_Delhi,nan,nan,nan,nan,nan,nan,nan,nan,nan,"3,249","3,595",nan,nan,"2,629","3,406",nan,nan,"2,880","3,517",nan,nan,"3,146","3,386",nan,nan,"3,211","3,484",nan,nan,"3,413","3,995",nan,nan,"3,451","3,698","3,146",nan,nan,"3,967","3,525",nan,"3,727.46","3,835","3,422",nan,"3,925.97","3,273","3,722"
35,Puducherry,nan,nan,nan,nan,nan,nan,nan,nan,nan,141,135,nan,nan,136,145,nan,nan,137,161,nan,nan,148,149,nan,nan,161,146,nan,nan,158,157,nan,nan,159,165,152,nan,nan,188,159,nan,158.05,159,175,nan,161.04,149,184
36,Other_Territory,nan,nan,nan,nan,nan,nan,nan,nan,nan,173,166,nan,nan,97,158,nan,nan,180,170,nan,nan,110,132,nan,nan,91,127,nan,nan,79,153,nan,nan,88,118,nan,nan,nan,139,194,nan,134.33,145,141,nan,132.39,133,167

In [26]:
df.to_csv('wiki_data.csv', index=False)